html {
  --background: #F0F8FF;
  --nav: #DEF0FF;
  --text: #000080;
}

body {
  font-family: "Oxygen", sans-serif;
  background-color: var(--background);
  color: var(--text);
}

header nav.navbar {
  box-shadow: 1px 1px 8px #28282B;
  background-color: var(--nav);
  color: var(--text);
  padding: 0.5rem 1rem;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
}

header nav img {
  width: 5rem;
}

a.nav-link {
  color: var(--text)
}

a.nav-link:hover {
  color: #0047AB;
}

.navbar-nav {
    width: 90%;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}