html {
  --background: #F0F8FF;
  --nav: #DEF0FF;
  --text: #000080;
}

body {
  font-family: "Oxygen", sans-serif;
  background-color: var(--background);
  color: var(--text);
}

a {
  text-decoration: none;
}

main {
  min-height: calc(100vh - 5.72rem - 10rem);
}

