header nav.navbar {
  box-shadow: 1px 1px 8px #28282B;
  background-color: var(--nav);
  color: var(--text);
  padding: 0.5rem 1rem;
  top: 0;
  left: 0;
  z-index: 10;
  /* width: 100vw; */
}

header nav img {
  width: 5rem;
}

a.nav-link {
  color: var(--text);
  transition: transform 200ms;
}

a.nav-link:hover {
  color: #024cb3;
  transform: scale(1.1);
}

.navbar-nav {
    width: 90%;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}

footer {
  background-image: linear-gradient(var(--text),#000044);
  color: var(--background);
  text-align: center;
  height: 12rem;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
}

footer .footer-content {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: 0 auto;
}

footer ul.social-links {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 10rem;
  display: flex;
  justify-content: space-between;
}

#about-us {
  display: flex;
  flex-direction: column;
}

#about-us a {
  color: var(--background);
}

#about-us a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  footer ul.social-links {
    width: 8rem;
  }
}